<div class="row">
  <div class="col-md-6">
    <mat-card class="col-md-12">
      <mat-card-title>
        <mat-icon matSuffix fontSet="fas" fontIcon="fa-globe"></mat-icon>
        Card with subactions
      </mat-card-title>

      <mat-card-actions align="end">
        <button mat-icon-button [matMenuTriggerFor]="subactions">
          <mat-icon aria-label="" fontSet="fas" fontIcon="fa-ellipsis-v"></mat-icon>
        </button>

        <mat-menu #subactions="matMenu">
          <button mat-menu-item>Item1</button>
          <button mat-menu-item>Item2</button>
        </mat-menu>
      </mat-card-actions>

      <mat-card-content>
        Some content
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-md-6">
    <mat-card class="col-md-12">
      <mat-card-title>
        Schedule
      </mat-card-title>

      <mat-card-content>
        <button mat-button (click)="openDialog()">Attach an event</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
