<!--<div #conatiner class="app-container">-->
<!--<app-menu-main-container [bounds]="conatiner">-->
<!--</app-menu-main-container>-->

<!--<div class="app-content">-->
<!--Content-->
<!--</div>-->
<!--</div>-->

<!--<header>-->
  <!--<mat-toolbar color="primary">Codesophy.Ide.Server</mat-toolbar>-->
<!--</header>-->

<mat-sidenav-container>
  <mat-sidenav-content>
    <div class="container app-container">
      <app-theme-switcher></app-theme-switcher>
      <app-topbar></app-topbar>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
  <mat-sidenav
    mode="side"
    position="end"
    [fixedInViewport]="true"
    [disableClose]="true"
    opened
  >
    <app-sidebar></app-sidebar>
  </mat-sidenav>
</mat-sidenav-container>

<footer></footer>
