//.app-container {
//  width: 100%;
//  display: flex;
//  flex-direction: row;
//}
//
///* WORK: it's temp*/
//.app-content {
//  order: 1;
//
//  width: 100%;
//  text-transform: uppercase;
//  color: white;
//  font-weight: 300;
//  letter-spacing: 2px;
//  background: darksalmon;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//}
//
//app-menu-main-container {
//  order: 0;
//}
//
///* WORK: replace?*/
//.app-menu-main-container-right {
//  order: 2
//}

mat-sidenav-content {
  height: 100vh;
  max-height: 100vh;
}

.app-container {
  padding-top: 2rem;
  height: 100%;
}
