@use "sass:math";

@import "~normalize.css";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,900&display=swap&subset=cyrillic");
//TODO: @import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,900&display=swap&subset=cyrillic");

// TODO: Extract to some vars.scss?
$golden-ratio: (1 + math.sqrt(5)) / 2;
$line-ratio: $golden-ratio;
$line-width: 1000;

// TODO: https://pearsonified.com/projects/golden-ratio-typography/
// @requires $content-width
$line-height: math.sqrt($line-width);
$font-size: $line-height / $line-ratio;

@function golden($level) {
    $pow: (3 - $level) * 0.5;
    @return round($font-size * math.pow($golden-ratio, 1 + $pow));
}

body {
    font-family: Roboto, "Franklin Gothic Medium", Tahoma, sans-serif;
    font-size: #{round($font-size)}px;
    line-height: #{$golden-ratio}em;
}

main {
    max-width: #{$line-width}px;
    margin: 0 auto;
}

h1 {
    font-size: #{golden(1)}px;
    font-weight: 900;
}

h2 {
    font-size: #{golden(2)}px;
}

h3 {
    font-size: #{golden(3)}px;
}

h4 {
    font-size: #{golden(4)}px;
}

h5 {
    font-size: #{golden(5)}px;
}
