@import "../custom-palettes";

$adx-theme-primary: mat-palette($mat-blue-edge);
$adx-theme-accent:  mat-palette($mat-electric);
$adx-theme-warn: mat-palette($mat-red, A200);

$adx-theme: mat-light-theme(
    $adx-theme-primary,
    $adx-theme-accent,
    $adx-theme-warn
);

$adx-theme-background: (
  status-bar: map_get($mat-smoky-white, 900),
  app-bar:    map_get($mat-smoky-white, 700),
  background: map_get($mat-smoky-white, 500),
  //hover:      rgba(black, 0.04),
  //card:       white,
  dialog:     map_get($mat-smoky-white, 500),
  //disabled-button: rgba(black, 0.12),
  //raised-button: white,
  //focused-button: $dark-focused,
  selected-button: map_get($mat-smoky-white, 800),
  selected-disabled-button: map_get($mat-smoky-white, 900),
  disabled-button-toggle: map_get($mat-smoky-white, 700),
  unselected-chip: map_get($mat-smoky-white, 800),
  disabled-list-option: map_get($mat-smoky-white, 700),
);

$adx-theme-foreground: (
  base:              map_get($mat-grayish-purple, 500),
  divider:           map_get($mat-grayish-purple, 50),
  dividers:          map_get($mat-grayish-purple, 50),
  disabled:          map_get($mat-grayish-purple, 200),
  disabled-button:   map_get($mat-grayish-purple, 100),
  disabled-text:     map_get($mat-grayish-purple, 200),
  hint-text:         map_get($mat-grayish-purple, 200),
  secondary-text:    map_get($mat-grayish-purple, 300),
  icon:              map_get($mat-grayish-purple, 300),
  icons:             map_get($mat-grayish-purple, 300),
  text:              map_get($mat-grayish-purple, 400),
  slider-min:        map_get($mat-grayish-purple, 400),
  slider-off:        map_get($mat-grayish-purple, 100),
  slider-off-active: map_get($mat-grayish-purple, 200),
);

$background: map-get($adx-theme, background);
$background: map_merge($background, $adx-theme-background);
$adx-theme: map_merge($adx-theme, (background: $background));

$foreground: map-get($adx-theme, foreground);
$foreground: map_merge($foreground, $adx-theme-foreground);
$adx-theme: map_merge($adx-theme, (foreground: $foreground));
