@import "../custom-palettes";
@import "../helpers";

$aqua-theme-primary: mat-palette($mat-aqua, 700, 300, 900);
$aqua-theme-accent: mat-palette($mat-light-green-sea);
$aqua-theme-warn: mat-palette($mat-red, A200);

$aqua-theme: mat-light-theme(
    $aqua-theme-primary,
    $aqua-theme-accent,
    $aqua-theme-warn
);

$aqua-theme-custom: (
  sidebar: (
    background-color: mat-color(map-get($aqua-theme, background), background),
    button: (
      color: mat-color(map-get($aqua-theme, foreground), disabled-button),
    ),
    active: (
      color: mat-color(map-get($aqua-theme, foreground), text),
      background-color: rgba-to-rgb(mat-color(map-get($aqua-theme, background), status-bar))
    )
  )
);

$aqua-theme: map_merge($aqua-theme, (app-theme-custom: $aqua-theme-custom));
