$mat-aqua: (
  50 : #e0f4fe,
  100 : #b3e4fc,
  200 : #80d2fa,
  300 : #4dbff8,
  400 : #26b2f7,
  500 : #00a4f5,
  600 : #009cf4,
  700 : #0092f2,
  800 : #0089f0,
  900 : #0078ee,
  A100 : #ffffff,
  A200 : #e1efff,
  A400 : #aed2ff,
  A700 : #95c4ff,
  contrast: (
    50 : $dark-primary-text,
    100 : $dark-primary-text,
    200 : $dark-primary-text,
    300 : $dark-primary-text,
    400 : $dark-primary-text,
    500 : $light-primary-text,
    600 : $light-primary-text,
    700 : $light-primary-text,
    800 : $light-primary-text,
    900 : $light-primary-text,
    A100 : $dark-primary-text,
    A200 : $dark-primary-text,
    A400 : $dark-primary-text,
    A700 : $dark-primary-text,
  )
);

$mat-blue-edge: (
  50 : #eaf0fc,
  100 : #cadaf8,
  200 : #a7c1f4,
  300 : #83a8ef,
  400 : #6995eb,
  500 : #4e82e8,
  600 : #477ae5,
  700 : #3d6fe2,
  800 : #3565de,
  900 : #2552d8,
  A100 : #ffffff,
  A200 : #e0e7ff,
  A400 : #adc0ff,
  A700 : #94acff,
  contrast: (
    50 : $dark-primary-text,
    100 : $dark-primary-text,
    200 : $dark-primary-text,
    300 : $dark-primary-text,
    400 : $dark-primary-text,
    500 : $light-primary-text,
    600 : $light-primary-text,
    700 : $light-primary-text,
    800 : $light-primary-text,
    900 : $light-primary-text,
    A100 : $dark-primary-text,
    A200 : $dark-primary-text,
    A400 : $dark-primary-text,
    A700 : $dark-primary-text,
  )
);

$mat-electric: (
  50 : #e8f0fe,
  100 : #c6dafc,
  200 : #a0c2fa,
  300 : #7aaaf7,
  400 : #5e97f6,
  500 : #4185f4,
  600 : #3b7df3,
  700 : #3272f1,
  800 : #2a68ef,
  900 : #1c55ec,
  A100 : #ffffff,
  A200 : #edf2ff,
  A400 : #bacbff,
  A700 : #a1b8ff,
  contrast: (
    50 : $dark-primary-text,
    100 : $dark-primary-text,
    200 : $dark-primary-text,
    300 : $dark-primary-text,
    400 : $dark-primary-text,
    500 : $light-primary-text,
    600 : $light-primary-text,
    700 : $light-primary-text,
    800 : $light-primary-text,
    900 : $light-primary-text,
    A100 : $dark-primary-text,
    A200 : $dark-primary-text,
    A400 : $dark-primary-text,
    A700 : $dark-primary-text,
  )
);

$mat-grayish-purple: (
  50 : #e7e7ea,
  100 : #bac5cf,
  200 : #9b9ca6,
  300 : #737482,
  400 : #555768,
  500 : #37394d,
  600 : #313346,
  700 : #2a2c3d,
  800 : #232434,
  900 : #161725,
  A100 : #6976ff,
  A200 : #3647ff,
  A400 : #0318ff,
  A700 : #0013e9,
  contrast: (
    50 : $dark-primary-text,
    100 : $dark-primary-text,
    200 : $dark-primary-text,
    300 : $light-primary-text,
    400 : $light-primary-text,
    500 : $light-primary-text,
    600 : $light-primary-text,
    700 : $light-primary-text,
    800 : $light-primary-text,
    900 : $light-primary-text,
    A100 : $dark-primary-text,
    A200 : $light-primary-text,
    A400 : $light-primary-text,
    A700 : $light-primary-text,
  )
);

$mat-light-green-sea: (
  50 : #e0f9f7,
  100 : #b3f1ec,
  200 : #80e7df,
  300 : #4dddd2,
  400 : #26d6c8,
  500 : #00cfbe,
  600 : #00cab8,
  700 : #00c3af,
  800 : #00bda7,
  900 : #00b299,
  A100 : #dbfff9,
  A200 : #a8fff1,
  A400 : #75ffe9,
  A700 : #5cffe5,
  contrast: (
    50 : $dark-primary-text,
    100 : $dark-primary-text,
    200 : $dark-primary-text,
    300 : $dark-primary-text,
    400 : $dark-primary-text,
    500 : $dark-primary-text,
    600 : $dark-primary-text,
    700 : $dark-primary-text,
    800 : $dark-primary-text,
    900 : $light-primary-text,
    A100 : $dark-primary-text,
    A200 : $dark-primary-text,
    A400 : $dark-primary-text,
    A700 : $dark-primary-text,
  )
);

$mat-smoky-white: (
  50 : #fefefe,
  100 : #fbfcfd,
  200 : #f9fbfc,
  300 : #f7f9fa,
  400 : #f5f7f9,
  500 : #f3f6f8,
  600 : #f1f5f7,
  700 : #eff3f6,
  800 : #edf2f5,
  900 : #eaeff3,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : $dark-primary-text,
    100 : $dark-primary-text,
    200 : $dark-primary-text,
    300 : $dark-primary-text,
    400 : $dark-primary-text,
    500 : $dark-primary-text,
    600 : $dark-primary-text,
    700 : $dark-primary-text,
    800 : $dark-primary-text,
    900 : $dark-primary-text,
    A100 : $dark-primary-text,
    A200 : $dark-primary-text,
    A400 : $dark-primary-text,
    A700 : $dark-primary-text,
  )
);
