$mat-aqua: (
  50 : #e0f4fe,
  100 : #b3e4fc,
  200 : #80d2fa,
  300 : #4dbff8,
  400 : #26b2f7,
  500 : #00a4f5,
  600 : #009cf4,
  700 : #0092f2,
  800 : #0089f0,
  900 : #0078ee,
  A100 : #ffffff,
  A200 : #e1efff,
  A400 : #aed2ff,
  A700 : #95c4ff,
  contrast: (
    50 : $dark-primary-text,
    100 : $dark-primary-text,
    200 : $dark-primary-text,
    300 : $dark-primary-text,
    400 : $dark-primary-text,
    500 : $light-primary-text,
    600 : $light-primary-text,
    700 : $light-primary-text,
    800 : $light-primary-text,
    900 : $light-primary-text,
    A100 : $dark-primary-text,
    A200 : $dark-primary-text,
    A400 : $dark-primary-text,
    A700 : $dark-primary-text,
  )
);

$mat-light-green-sea: (
  50 : #e0f9f7,
  100 : #b3f1ec,
  200 : #80e7df,
  300 : #4dddd2,
  400 : #26d6c8,
  500 : #00cfbe,
  600 : #00cab8,
  700 : #00c3af,
  800 : #00bda7,
  900 : #00b299,
  A100 : #dbfff9,
  A200 : #a8fff1,
  A400 : #75ffe9,
  A700 : #5cffe5,
  contrast: (
    50 : $dark-primary-text,
    100 : $dark-primary-text,
    200 : $dark-primary-text,
    300 : $dark-primary-text,
    400 : $dark-primary-text,
    500 : $dark-primary-text,
    600 : $dark-primary-text,
    700 : $dark-primary-text,
    800 : $dark-primary-text,
    900 : $light-primary-text,
    A100 : $dark-primary-text,
    A200 : $dark-primary-text,
    A400 : $dark-primary-text,
    A700 : $dark-primary-text,
  )
);
