@import "../helpers";

$default-theme-primary: mat-palette($mat-indigo, 700, 300, 900);
$default-theme-accent: mat-palette($mat-light-blue);
$default-theme-warn: mat-palette($mat-deep-orange, A200);

$default-theme: mat-light-theme(
    $default-theme-primary,
    $default-theme-accent,
    $default-theme-warn
);

$default-theme-custom: (
  sidebar: (
    background-color: mat-color(map-get($default-theme, background), background),
    button: (
      color: mat-color(map-get($default-theme, foreground), disabled-button),
    ),
    active: (
      color: mat-color(map-get($default-theme, foreground), text),
      background-color: rgba-to-rgb(mat-color(map-get($default-theme, background), status-bar))
    )
  )
);

$default-theme: map_merge($default-theme, (app-theme-custom: $default-theme-custom));
