<h2 mat-dialog-title>Attach an event</h2>
<mat-dialog-content>
  <app-schedule></app-schedule>
</mat-dialog-content>
<mat-dialog-actions>
  <!--WORK: onClose()?-->
  <button mat-button mat-dialog-close>Cancel</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button (click)="attachEvent()" [mat-dialog-close]="true">OK</button>
</mat-dialog-actions>

<!--WORK: -->
<!--<div class="app-schedule-flex">-->
  <!--<button mat-raised-button>Cancel</button>-->
  <!--<button mat-raised-button color="primary">OK</button>-->
<!--</div>-->
