.app-breadcrumbs {
  .app-breadcrumbs-link {
    font-size: 1rem;
  }

  .app-breadcrumbs-divider {
    font-size: 1.1rem;
    padding: 0 0.4rem;
  }

  h1 {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 400;
  }
}
