@import "core-mixins";
@import "helpers";

@mixin theme-mat-core-state-disabled() {
  .mat-option-disabled,
  .mat-optgroup-disabled,
  .mat-pseudo-checkbox-disabled,
  .mat-button-toggle-disabled,
  .mat-calendar-body-disabled,
  .mat-disabled,
  .mat-tab-header-pagination-disabled,

  .mat-checkbox-disabled,
  [aria-disabled='true'],
  .mat-list-item-disabled,
  .mat-radio-disabled .mat-radio-label,
  .mat-select-disabled .mat-select-trigger,
  .mat-disabled .mat-slide-toggle-label,
  .mat-slider-disabled,
  .mat-button[disabled], .mat-flat-button[disabled], .mat-icon-button[disabled], .mat-stroked-button[disabled],
  .mat-tab-disabled .mat-tab-label-content,
  .mat-form-field-disabled input,
  .mat-form-field-disabled textarea {
    @include app-state-disabled();
  }
}

@mixin theme-mat-card-spacing() {
  mat-card {
    margin-bottom: 30px;
  }
}

// Sets border-radius on cards.
@mixin theme-mat-card-corners() {
  // Rewrites .mat-card style.
  mat-card.mat-card {
    border-radius: .2rem;
  }
}

// Sets title styles.
@mixin theme-mat-card-title() {
  mat-card-title {
    font-size: 1.2rem;
    display: flex;

    & > mat-icon {
      font-size: 1.6rem;
      margin-right: .8rem;
    }
  }
}

// Positions card actions.
@mixin theme-mat-card-actions-positioning() {
  mat-card {
    position: relative;

    mat-card-actions {
      position: absolute;
      // WORK: Fix top in case no icon before title.
      top: .75rem;
      z-index: 9;
    }

    .mat-card-actions-align-end {
      right: 1.5rem;
    }
  }
}

// Sets card actions color.
@mixin theme-set-mat-card-header-icons-color($color) {
  mat-card {
    mat-card-actions,
    mat-card-title mat-icon {
      color: $color;
    }
  }
}

@mixin theme-mat-tooltip-typography() {
  .mat-tooltip {
    font-size: .8rem;
  }
}

@mixin theme-mat-form-field-appearance() {
  .mat-form-field {
    &.mat-form-field-appearance-fill {
      .mat-form-field-flex {
        box-shadow: inset 0 3px 1px -2px rgba(0, 0, 0, .2),
        inset 0 2px 2px 0 rgba(0, 0, 0, .14),
        inset 0 1px 5px 0 rgba(0, 0, 0, .12);
      }

      // ISSUE: resets unwanted padding.
      & {
      //&:not(.mat-form-field-hide-placeholder) {
        .mat-form-field-flex {
          padding-top: 0;
        }
      }

      &:not(.mat-focused) {
        .mat-form-field-underline {
          display: none;
        }
      }
    }
  }
}

@mixin theme-mat-bottom-sheet-colors($background-color, $color) {
  .mat-bottom-sheet-container {
    color: $color;
    background-color: $background-color;
  }
}

// Styles over @angular/material theme.
@mixin app-over-mat-theme($theme) {
  //$primary: map-get($theme, primary);
  //$accent: map-get($theme, accent);
  //$warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  //$background: map-get($theme, background);
  $custom: map-get($theme, app-theme-custom);

  @include theme-mat-core-state-disabled();

  @include theme-mat-card-spacing();
  @include theme-mat-card-title();
  @include theme-mat-card-corners();
  @include theme-mat-card-actions-positioning();
  @include theme-set-mat-card-header-icons-color(mat-color($foreground, disabled-button));

  @include theme-mat-tooltip-typography();
  @include theme-mat-form-field-appearance();

  @include theme-mat-bottom-sheet-colors(map-deep-get($custom, sidebar, active, background-color), map-deep-get($custom, sidebar, active, color));
}
