// Variables

// WORK: get from bootstrap variables?
// [rewrites variable for bootstrap]
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// [rewrites variable for bootstrap] Removes bootstrap's underline from button links.
$link-hover-decoration: none;

// [rewrites variable for bootstrap]
// $link-color: #3f51b5; - gets rewritten by bootstrap-resets-theme @mixin.

// [rewrites variable for bootstrap]
$link-hover-color: currentColor;

// [rewrites variable for @fortawesome/fontawesome-free]
$fa-font-path: '../node_modules/@fortawesome/fontawesome-free/webfonts';
