@mixin theme-mat-card-spacing() {
  mat-card {
    margin-bottom: 30px;
  }
}

// Sets border-radius on cards.
@mixin theme-mat-card-corners() {
  // Rewrites .mat-card style.
  mat-card.mat-card {
    border-radius: .2rem;
  }
}

// Sets title styles.
@mixin theme-mat-card-title() {
  mat-card-title {
    font-size: 1.2rem;
    display: flex;

    & > mat-icon {
      font-size: 1.6rem;
      margin-right: .8rem;
    }
  }
}

// Positions card actions.
@mixin theme-mat-card-actions-positioning() {
  mat-card {
    position: relative;

    mat-card-actions {
      position: absolute;
      top: .75rem;
      z-index: 9;
    }

    .mat-card-actions-align-end {
      right: 1.5rem;
    }
  }
}

// Sets card actions color.
@mixin theme-set-mat-card-header-icons-color($color) {
  mat-card {
    mat-card-actions,
    mat-card-title mat-icon {
      color: $color;
    }
  }
}

@mixin app-core-mat-theme($theme) {
  //$primary: map-get($theme, primary);
  //$accent: map-get($theme, accent);
  //$warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  //$background: map-get($theme, background);

  @include theme-mat-card-spacing();
  @include theme-mat-card-title();
  @include theme-mat-card-corners();
  @include theme-mat-card-actions-positioning();
  @include theme-set-mat-card-header-icons-color(mat-color($foreground, disabled-button));
}
