// Sets border-radius on cards.
@mixin theme-mat-card-corners() {
  // Rewrites .mat-card style.
  mat-card.mat-card {
    border-radius: .2rem;
  }
}

// Positions card actions.
@mixin theme-mat-card-actions-positioning() {
  mat-card {
    position: relative;

    mat-card-actions {
      position: absolute;
      top: 1rem;
      z-index: 9;
    }

    .mat-card-actions-align-end {
      right: 1.5rem;
    }
  }
}

// Sets card actions color.
@mixin theme-set-mat-card-actions-color($color) {
  mat-card mat-card-actions {
    color: $color;
  }
}

@mixin app-core-mat-theme($theme) {
  //$primary: map-get($theme, primary);
  //$accent: map-get($theme, accent);
  //$warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  //$background: map-get($theme, background);

  @include theme-mat-card-corners();
  @include theme-mat-card-actions-positioning();
  @include theme-set-mat-card-actions-color(mat-color($foreground, disabled-button));
}
