:host {
  display: flex;
  flex-direction: row;
}

.app-menu-child {
  background-color: #eeeeee;
  position: absolute;
  right: -120px;
}

:host.app-menu-main-right {
  .app-menu-child {
    right: unset;
    left: -150px;
  }
}
