dl {
  margin: 0;
  padding: 1.5rem 0 0 0;
}

dt {
  margin: 0;
  padding: 0.15rem 0 0 .8rem;
  position: sticky;
  top: -1px;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-top-width: 1px;
  border-top-style: solid;
}

dd {
  margin: 0;
  padding: 0 0 0 .8rem;
  font-weight: bold;
  line-height: 2rem;
  white-space: nowrap;
}

dd + dd {
  border-top-width: 1px;
  border-top-style: solid;
}

:host {
  position: relative;
  display: block;
}

.app-dictionary-letters {
  position: absolute;
  top: 0;
  right: 2rem;
  width: 2rem;

  ul {
    position: fixed;
    list-style-type: none;

    li {
      padding: .4rem;
      margin-bottom: 0.1rem;
      border-radius: 0.3rem;

      &.app-dictionary-letter-active {
        font-size: 1.1rem;
        font-weight: bold;
      }
    }
  }
}
