<dl *ngFor="let termsForLetter of termsForLetters$ | async">
  <dt [id]="termsForLetter.letter">
    <a [routerLink]="" [fragment]="termsForLetter.letter">{{termsForLetter.letter}}</a>
  </dt>
  <dd *ngFor="let term of termsForLetter.terms"><a [routerLink]="term.id">{{term.label}}</a></dd>
</dl>

<div class="app-dictionary-letters">
  <ul>
    <li
      *ngFor="let letter of firstLetters$ | async"
      [class.app-dictionary-letter-active]="(anchor$ | async) === letter"
    >
      <a [routerLink]="" [fragment]="letter">{{letter}}</a>
    </li>
  </ul>
</div>
