<div class="app-sidebar-root">
  <mat-icon
    matTooltip="App logo"
    aria-label="Logo"
    fontSet="fas"
    fontIcon="fa-terminal"
    class="app-logo"
  ></mat-icon>

  <button
    *ngFor="let item of rootItems; let i = index"
    mat-icon-button
    (click)="toggleSidebar(item)"
    [matBadge]="item?.badge"
    matBadgePosition="above before"
    [matBadgeDescription]="item?.badgeDescription"
    [matBadgeHidden]="!item?.badge"
    [class.app-active]="isActive(i)"
  >
    <mat-icon
      [matTooltip]="item?.tooltip"
      matTooltipPosition="left"
      matTooltipShowDelay="500"
      [attr.aria-label]="item?.tooltip"
      fontSet="fas"
      [fontIcon]="item?.icon"></mat-icon>
  </button>

  <button mat-icon-button>
    <mat-icon
      matTooltip="Add item"
      aria-label="Add item"
      fontSet="fas"
      fontIcon="fa-plus-circle"
    ></mat-icon>
  </button>

  <div class="app-bottom-center">
    <button mat-icon-button>
      <mat-icon
        matTooltip="Settings"
        aria-label="Settings"
        fontSet="fas"
        fontIcon="fa-cog"
      ></mat-icon>
    </button>
  </div>
</div>
<!-- /.app-sidebar-root -->

<div *ngIf="isSideNavOpened" [@enterAnimation] class="app-sidebar-context">
  <app-sidebar-context [contextItem]="rootItem?.children"></app-sidebar-context>
</div>
<!-- /.app-sidebar-context -->
