:host {
  display: block;
  min-width: 18rem;
  margin: 1.5rem;
}

h2 {
  font-weight: 400;
  font-size: 1.4rem;
  margin-top: -.5rem;
}

.app-sidebar-child-item {
  padding: .8rem 1.2rem;
  margin-bottom: .6rem;
  cursor: pointer;

  .mat-card-title {
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 500;
  }

  .mat-card-subtitle {
    font-size: 0.7rem;
  }
}
