@import '~@angular/material/theming';

@mixin sidebar-component-theme($theme) {
  $primary: map-get($theme, primary);
  //$accent: map-get($theme, accent);
  //$warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  //$background: map-get($theme, background);

  app-sidebar {
    .app-sidebar-root {
      button {
        color: mat-color($foreground, disabled-button);

        &:active,
        &.app-active {
          border-left-color: mat-color($primary);
          color: mat-color($primary);
        }
      }

      .mat-badge-content {
        background-color: mat-color($primary);
      }
    }
  }
}
