@import '~@angular/material/theming';

@import "../../../../styles/helpers";

@mixin app-sidebar-component-core($theme) {
  $primary: map-get($theme, primary);
  //$accent: map-get($theme, accent);
  //$warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $custom: map-get($theme, app-theme-custom);

  app-sidebar {
    background-color: map-deep-get($custom, sidebar, background-color);

    .app-sidebar-toolbar {
      button {
        color: map-deep-get($custom, sidebar, button, color),
      }

      .mat-badge-content {
        background-color: mat-color($primary);
      }
    }
  }
}

@mixin app-sidebar-component-toolbar-child-opened($theme) {
  $primary: map-get($theme, primary);
  //$accent: map-get($theme, accent);
  //$warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $custom: map-get($theme, app-theme-custom);

  mat-sidenav {
    overflow: visible;
  }

  app-sidebar {
    .app-sidebar-toolbar-child-container,
    .app-sidebar-toolbar button:active,
    .app-sidebar-toolbar button.app-active {
      color: map-deep-get($custom, sidebar, active, color);
      background-color: map-deep-get($custom, sidebar, active, background-color);
    }
  }
}

@mixin app-sidebar-component-theme($theme) {
  @include app-sidebar-component-core($theme);
  @include app-sidebar-component-toolbar-child-opened($theme);
}
