<app-sidebar-context></app-sidebar-context>

<div *ngIf="isSideNavOpened" class="app-sidebar-toolbar-child-container">
  <app-sidebar-toolbar-child
    [item]="rootItem?.children"
  ></app-sidebar-toolbar-child>
</div>

<div class="app-sidebar-toolbar">
  <button mat-icon-button [matMenuTriggerFor]="profileActions">
    <mat-icon
      matTooltip="Account"
      matTooltipPosition="left"
      aria-label="Account"
      fontSet="fas"
      fontIcon="fa-user-circle"
    ></mat-icon>
  </button>
  <mat-menu #profileActions="matMenu">
    <button mat-menu-item>Sign out</button>
  </mat-menu>

  <button
    *ngFor="let item of rootItems; let i = index"
    mat-icon-button
    (click)="toggleSidebar(item)"
    [matBadge]="item?.badge"
    matBadgePosition="above before"
    [matBadgeDescription]="item?.badgeDescription"
    [matBadgeHidden]="!item?.badge"
    [class.app-active]="isActive(i)"
  >
    <mat-icon
      [matTooltip]="item?.tooltip"
      matTooltipPosition="left"
      [attr.aria-label]="item?.tooltip"
      fontSet="fas"
      [fontIcon]="item?.icon"></mat-icon>
  </button>

  <button mat-icon-button>
    <mat-icon
      matTooltip="Add item"
      matTooltipPosition="left"
      aria-label="Add item"
      fontSet="fas"
      fontIcon="fa-plus-circle"
    ></mat-icon>
  </button>

  <div class="app-bottom-center">

    <button mat-icon-button>
      <mat-icon
        matTooltip="Settings"
        matTooltipPosition="left"
        aria-label="Settings"
        fontSet="fas"
        fontIcon="fa-cog"
      ></mat-icon>
    </button>
  </div>
</div>
