@mixin app-feed-add-space-for-scrollbar() {
  .app-feed-items {
    padding-right: .7rem;
  }
}

@mixin app-feed-avatar() {
  .app-feed-item {
    &:not(.app-feed-item-by-current-user) {
      padding-left: 3.5em;
    }

    .app-feed-item-avatar-container {
      position: absolute;
      left: 0;
      top: 0;

      &,
      img {
        width: 3rem;
        height: 3rem;
      }
    }
  }
}

:host {
  display: block;
}

.app-feed-items {
  height: 30rem;
  display: flex;
  flex-direction: column;
}

.app-feed-date {
  margin-bottom: 1rem;
  align-self: center;
}

.app-feed-item {
  position: relative;
  max-width: 75%;
  align-self: flex-start;

  .app-feed-item-text {
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: .3rem;
    white-space: pre-wrap;
  }

  &.app-feed-item-by-current-user {
    align-self: flex-end;
  }
}

.app-feed-controls {
  display: flex;
  flex-direction: row;

  .app-feed-controls-textarea {
    flex: 1;

    textarea {
      resize: none;
    }
  }

  .app-feed-controls-buttons {
    display: flex;
    flex-direction: column;
  }
}

.app-feed-notifications {
  position: relative;
  min-height: 1rem;
  margin-bottom: 1rem;

  .app-feed-you-have-unviewed-items {
    position: absolute;
    top: -.5rem;
    width: 100%;
    padding: .5rem;
    border-radius: .3rem;
    cursor: pointer;
    user-select: none;
    font-size: .8rem;
    text-align: center;
  }
}

@include app-feed-add-space-for-scrollbar();
@include app-feed-avatar();
